@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased dark:bg-slate-950 dark:text-slate-100;
}

/* Add scroll offset for sections to account for sticky header */
section[id] {
  scroll-margin-top: 5rem;
}
